<?xml version="1.0" encoding="UTF-8"?><web-app id="WebApp_1598366149544" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UsuarioHelper</servlet-name>
        <servlet-class>cl.gmo.pos.venta.web.beans.UsuarioBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CreaBoletaServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaBoletaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaBoletaServlet</servlet-name>
        <url-pattern>/CreaBoletaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreaTicketCambioServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaTicketCambioServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>CreaTicketCambioServlet</servlet-name>
        <url-pattern>/CreaTicketCambioServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>CreaListadoBoletasServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaListadoBoletasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaPresupuestoServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaPresupuestoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaPresupuestoServlet</servlet-name>
        <url-pattern>/CreaPresupuestoServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CreaListadoBoletasServlet</servlet-name>
        <url-pattern>/CreaListadoBoletasServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>CreaListadoPresupuestosServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaListadoPresupuestosServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>CreaListadoPresupuestosServlet</servlet-name>
        <url-pattern>/CreaListadoPresupuestosServlet</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>CreaListadoTotalDiaServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaListadoTotalDiaServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>CreaListadoTotalDiaServlet</servlet-name>
        <url-pattern>/CreaListadoTotalDiaServlet</url-pattern>
    </servlet-mapping>
       <servlet>
        <servlet-name>CreaListadoTrabajosPendientesServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaListadoTrabajosPendientesServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>CreaListadoTrabajosPendientesServlet</servlet-name>
        <url-pattern>/CreaListadoTrabajosPendientesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreaCopiaGuiaBoletaServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaCopiaGuiaBoletaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaCopiaGuiaBoletaServlet</servlet-name>
        <url-pattern>/CreaCopiaGuiaBoletaServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>CreaListadoOpticoServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaListadoOpticoServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>CreaListadoOpticoServlet</servlet-name>
        <url-pattern>/CreaListadoOpticoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreaFichaTallerServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaFichaTallerServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>CreaFichaTallerServlet</servlet-name>
        <url-pattern>/CreaFichaTallerServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>CreaGuiaServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaGuiaServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>CreaGuiaServlet</servlet-name>
        <url-pattern>/CreaGuiaServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>CreaFichaCliente</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.CreaFichaClienteServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>CreaFichaCliente</servlet-name>
        <url-pattern>/CreaFichaCliente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidaDescuentoServlet</servlet-name>
        <servlet-class>cl.gmo.pos.venta.reportes.ValidaDescuentoServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ValidaDescuentoServlet</servlet-name>
        <url-pattern>/ValidaDescuentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioHelper</servlet-name>
        <url-pattern>/UsuarioHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
         1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
    	<exception-type>com.ibm.websphere.management.exception.SessionTimeoutException</exception-type>
    	<location>/redirect.jsp</location>
    </error-page>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
        </taglib>
    </jsp-config>
	
	
	<filter>
    <filter-name>filtroSeguridad</filter-name>
    <filter-class>cl.gmo.pos.venta.utils.FiltroSeguridad</filter-class>
    <init-param>
        <param-name>paginaError</param-name>
        <param-value>/redirect.jsp</param-value>
    </init-param>
       <init-param>
        <param-name>paginaFinSesion</param-name>
        <param-value>redirect.jsp</param-value>
    </init-param>
    </filter>    
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/VentaDirecta.do</url-pattern>       
    </filter-mapping>
	<filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Menu.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/BusquedaProductos.do</url-pattern>       
    </filter-mapping>
     <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Presupuesto.do</url-pattern>       
    </filter-mapping>
      <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/BusquedaClientes.do</url-pattern>       
    </filter-mapping>
	<filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/BusquedaProductosMultiOfertas.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/SeleccionPago.do</url-pattern>       
    </filter-mapping>
      <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/VentaPedido.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Liberaciones.do</url-pattern>       
    </filter-mapping>    
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>CreaReportesServlet</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/EntregaPedido.do</url-pattern>       
    </filter-mapping> 
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/BusquedaConvenios.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/BusquedaPedidos.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/BusquedaMedicos.do</url-pattern>       
    </filter-mapping> 
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Medico.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Suplementos.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Contactologia.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Graduaciones.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/SeleccionPago.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/EntregaPedido.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/ListadoTotalDia.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/ListadoBoletas.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/ListadoPresupuestos.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/FichaClientes.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/ListadoTrabajosPendientes.do</url-pattern>       
    </filter-mapping>
    
    <!-- LMARIN 20130912 -->
     <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/HistorialRequerimientos.do</url-pattern>       
    </filter-mapping>
    <!--  fin -->
    
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/InformeOptico.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/InformeBusquedaProducto.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/CopiaGuiaBoleta.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/Devolucion.do</url-pattern>       
    </filter-mapping>
    <filter-mapping>
    	<filter-name>filtroSeguridad</filter-name>
    	<url-pattern>/CambioFolio.do</url-pattern>       
    </filter-mapping>
   
    
    
</web-app>